<h1>Demo#index</h1>
<p>Hello from index!</p>
<a href="/demo/hello">Hello page</a><br />
<%= link_to('hello page 2', {:action => 'hello'}) %><br />
<%= link_to('Subjects', {:controller => 'subjects', :action => 'index'}) %><br />

<%= link_to('hello with parameters', {:action => 'hello', :page => 5, :id=>20}) %>
